//RESET
@import "base/reset";

//GENERAL
@import "layout/general";

//NAVBAR
@import "layout/navbar";

//FOOTER
@import "layout/footer";

//HOME
@import "pages/home";

//PROYECTOS
@import "pages/proyectos";

//CONTACTO
@import "pages/contacto";

// MQ TABLET
@import "responsive/_tablet.scss";

// MQ MOBILE
@import "responsive/_mobile.scss";