// Variables
@use "../utilities/variables" as *;

/* -------------------------------------- Estilos Footer -------------------------------------- */

footer{
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid $bg-color-light;
    margin: 0 10%;
    p{
        margin: 0;
        span{
            font-weight: bold;
        }
    }
}