// Variables
@use "../utilities/variables" as *;

/* -------------------------------------- Estilos Generales -------------------------------------- */

body{
    color: $color-text;
    background-color: $bg-color;
}

.pag,
.pag-2,
.pag-3{
    padding-left: 70px;
}