// Variables
@use "../utilities/variables" as *;
// Mixin
@use "../utilities/mixin" as *;

/* -------------------------------------- Estilos Navbar -------------------------------------- */

.sidebar{
    display: none;
    position: fixed;
    height: 100vh;
    width: 70px;
    background-color: $bg-color-dark;
    transition: $trans-fast;
    z-index: 1000;
    // Expansión navbar con el mouse
    &:hover{
        width: 160px;
        nav{
            // Mostrar redes cuando se expande
            .lista-redes{
                li{
                    a{
                        i{
                            opacity: 1;
                            transition: opacity $trans-fast;
                            transition-delay: 0.1s;
                        }
                    }
                }
            }
            // Mostrar lista cuando se expande
            .lista-links{
                li{
                    a{
                        span{
                            opacity: 1;
                            transition: opacity $trans-fast;
                            transition-delay: 0.1s;
                        }
                    }
                }
            }
        }
    }
    // Separar listas links y redes
    nav{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        // Links
        .lista-links{
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            li{
                a{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: $color-text;
                    text-decoration: none;
                    transition: background-color $trans-fast;
                    &:hover{
                        background-color: $bg-color-light;
                    }
                    // Íconos
                    i{
                        margin: 20px 10px 20px 25px;
                        font-size: 1.2rem;
                    }
                    // Mostrar texto cuando se expande
                    span{
                        opacity: 0;
                        transition: opacity 0.1s;
                        white-space: nowrap;
                    }
                }
            }
        }
        // Redes
        .lista-redes{
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            gap: 10px;
            margin-left: 10px;
            li{
                a{
                    text-decoration: none;
                    &:hover{
                        i{
                            background-color: $color-text;
                            color: $bg-color-dark;
                        }
                    }
                    i{
                        @include icono-redondo($bg-color-light, $color-text, 40px);
                        font-size: 1.2rem;
                        opacity: 0;
                        transition: opacity 0.1s;
                    }
                }
            }
        }
    }
    
}