// Flex
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Botón
@mixin boton($bg, $color, $border, $radius){
    background-color: $bg;
    color: $color;
    border: $border;
    border-radius: $radius;
    padding: 0.8rem 1.5rem;
    font-weight: bolder;
    text-decoration: none;
}

// Ícono redondo
@mixin icono-redondo($bg, $color, $size){
    background-color: $bg;
    color: $color;
    border-radius: 50%;
    width: $size;
    height: $size;
    @include flex-center;
}

// Títulos Sección
@mixin titulo-section{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    &::before{
        content: "────";
        margin: 0 1rem 0 1rem;
    }
    &::after{
        content: "────";
        margin: 0 1rem 0 1rem;
    }
}

// Animación Hover Scale
@mixin anim-hover-scale($size, $trans){
    transition: $trans;
    &:hover{
        transform: scale($size);
    }
}

// Animación Hover Translate Up
@mixin anim-hover-up($trans){
    transition: $trans;
    &:hover{
        transform: translateY(-7px);
    }
}

// Animación Hover Shadow
@mixin anim-hover-shadow{
    &:hover{
        box-shadow: 1px 1px 15px whitesmoke;
    }
}

// Animación Hover pulse infinito (sólo para proyectos)
@mixin anim-hover-pulse{
    &:hover{
        i{
            animation: pulse 1s infinite;
        }
    }
    @keyframes pulse{
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }
}