// Flex
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Botón
@mixin boton($bg, $color, $border, $radius){
    background-color: $bg;
    color: $color;
    border: $border;
    border-radius: $radius;
    padding: 0.8rem 1.5rem;
    font-weight: bolder;
    text-decoration: none;
}

// Ícono redondo
@mixin icono-redondo($bg, $color, $size){
    background-color: $bg;
    color: $color;
    border-radius: 50%;
    width: $size;
    height: $size;
    @include flex-center;
}

// Títulos Sección
@mixin titulo-section{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    &::before,
    &::after{
        content: "────";
        margin: 0 1rem 0 1rem;
    }
}

// Media Querie Disposición Texto Mis Especialidades (Proyectos)
@mixin text-sitio{
    text-align: center;
    margin-top: 30px;
    p{
        margin: 20px 20px 0 20px;
    }
}

// Animación Hover Scale
@mixin anim-hover-scale($size, $trans){
    transition: $trans;
    &:hover{
        transform: scale($size);
    }
}

//Animación Hover Scale Y
@mixin anim-hover-scale-y($size, $trans){
    transition: $trans;
    &:hover{
        transform: scaleY($size);
    }
}

// Animación Hover Translate Up
@mixin anim-hover-up($trans){
    transition: $trans;
    &:hover{
        transform: translateY(-7px);
    }
}

// Animación Hover Shadow
@mixin anim-hover-shadow{
    &:hover{
        box-shadow: 1px 1px 15px whitesmoke;
    }
}

// Animación Hover pulse infinito (sólo para proyectos)
@mixin anim-hover-pulse{
    &:hover{
        i{
            animation: pulse 1s infinite;
        }
    }
    @keyframes pulse{
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }
}

// Animación Scroll Arrow infinito
@mixin anim-arrow-scroll{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    opacity: 0.7;
    transition: opacity 0.3 ease;
    animation: bounce 1.5s infinite;

    @keyframes bounce{
        0%, 100%{
            transform: translate(-50%, 0);
        }
        50%{
            transform: translate(-50%, 10px);
        }
    }
}