// Colores
$color-text: whitesmoke;
$color-text-light: #888F8F;
$bg-color: #1F1F1F;
$bg-color-dark: #1B1B1B;
$bg-color-light: #343434;

// Radios Borde
$radius: 50px;

// Transiciones
$trans-fast: 0.3s;
$trans-medium: 0.5s;