/* -------------------------------------- Estilos Generales -------------------------------------- */

body{
    color: whitesmoke;
    background-color: #1F1F1F;
}

.pag,
.pag-2,
.pag-3{
    padding-left: 70px;
}