/* -------------------------------------- Estilos Navbar -------------------------------------- */

.sidebar{
    position: fixed;
    height: 100vh;
    width: 70px;
    background-color: #1B1B1B;
    transition: width 0.3s;
    z-index: 1000;
    // Expansión navbar con el mouse
    &:hover{
        width: 160px;
        nav{
            // Mostrar redes cuando se expande
            .lista-redes{
                li{
                    a{
                        i{
                            opacity: 1;
                            transition: opacity 0.3s;
                            transition-delay: 0.1s;
                        }
                    }
                }
            }
            // Mostrar lista cuando se expande
            .lista-links{
                li{
                    a{
                        span{
                            opacity: 1;
                            transition: opacity 0.3s;
                            transition-delay: 0.1s;
                        }
                    }
                }
            }
        }
    }
    // Separar listas links y redes
    nav{
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        // Links
        .lista-links{
            list-style: none;
            padding: 0;
            li{
                a{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: whitesmoke;
                    text-decoration: none;
                    transition: background-color 0.3s;
                    &:hover{
                        background-color:#323232;
                    }
                    // Íconos
                    i{
                        margin: 20px 10px 20px 25px;
                        font-size: 1.2rem;
                    }
                    // Mostrar texto cuando se expande
                    span{
                        opacity: 0;
                        transition: opacity 0.1s;
                        white-space: nowrap;
                    }
                }
            }
        }
        // Redes
        .lista-redes{
            list-style: none;
            padding: 0;
            gap: 10px;
            margin-left: 10px;
            li{
                a{
                    text-decoration: none;
                    &:hover{
                        i{
                            background-color: whitesmoke;
                            color: #1B1B1B;
                        }
                    }
                    i{
                        background-color: #323232;
                        color: whitesmoke;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.2rem;
                        opacity: 0;
                        transition: opacity 0.1s;
                    }
                }
            }
        }
    }
    
}