// Variables
@use "../utilities/variables" as *;

/* -------------------------------------- Estilos Contacto -------------------------------------- */

// Color del placeholder
.placeholder-gris{
    &::placeholder{
        color: $color-text-light;
    }
}