// Variables
@use "../utilities/variables" as *;
// Mixin
@use "../utilities/mixin" as *;


/* -------------------------------------- Estilos Index -------------------------------------- */

/* ------------- Estilos Main -------------*/

.pag{
    // Disposición contenedores
    .index-main{
        height: 100vh;
        @include flex-center;
        gap: 50px;
        // Textos
        .texto{
            max-width: 450px;
            h1{
                font-weight: bold;
                margin-bottom: 10px;
            }
            h2{
                margin-bottom: 40px;
                span{
                    font-weight: 100;
                }
            }
            p{
                line-height: 25px;
            }
            // Botones Main
            .contenedor-botones{
                padding-top: 30px;
                display: flex;
                gap: 1rem;

                // Botón Uno
                .boton-uno{
                    @include boton($color-text, $bg-color, none, $radius);
                    @include anim-hover-up($trans-medium);
                    @include anim-hover-shadow;
                }
                // Botón Dos
                .boton-dos{
                    @include boton(none, $color-text, 2px solid $color-text, $radius);
                    @include anim-hover-up($trans-medium);
                    @include anim-hover-shadow;
                    &:hover{
                        background-color: $color-text;
                        color: $bg-color-dark;
                    }
                }
            }
            // Botones Redes Main
            .contenedor-botones-redes{
                display: flex;
                gap: 10px;
                padding-top: 20px;
                a{
                    text-decoration: none;
                    @include anim-hover-scale(1.1, $trans-medium);
                    &:hover{
                        i{
                            background-color: $color-text;
                            color: $bg-color-dark;
                        }
                    }
                    i{
                        @include icono-redondo($bg-color-light, $color-text, 50px);
                        @include flex-center;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        // Profile Pic
        .imagen{
            @include flex-center;
            img{
                max-width: 450px;
                border-radius: $radius;
                box-shadow: 30px 30px 3px $bg-color-light;
            }
        }
    }
}

/* ------------- Estilos Section Sobre Mí -------------*/

.wave-1{
    transform: translateY(5px);
}

.pag{
    .index-sobre-mi{
        background-color: $bg-color-light;
        // Título de Sección
        h3{
            text-align: center;
            font-weight: bold;
            &::before{
                content: "────";
                margin: 0 1rem 0 1rem;
            }
            &::after{
                content: "────";
                margin: 0 1rem 0 1rem;
            }
        }
        // Disposición Contenedores
        .contenido{
            @include flex-center;
            gap: 50px;
            padding: 50px 0 50px 0;
            // Contenedor Izquierda (Texto)
            .texto{
                display: flex;
                flex-direction: column;
                max-width: 400px;
                h4{
                    margin-bottom: 50px;
                }
            }
            // Contenedor Derecha (Tarjetas)
            .info{
                // Tarjetas
                .tarjeta{
                    background-color: $bg-color;
                    width: 10rem;
                    height: 10rem;
                    padding: 1rem;
                    border-radius: $radius;
                    text-align: center;
                    @include anim-hover-scale(1.1, $trans-medium);
                    @include anim-hover-shadow;
                    i{
                        font-size: 2rem;
                    }
                    p{
                        color: $color-text-light;
                    }
                }
                // Datos
                .dato{
                    p{
                        color: $color-text-light;
                        margin: 1rem 0 0 0;
                    }
                    h4{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
                // Grid-Area Tarjetas y Datos
                width: 400px;
                display: grid;
                gap: 1rem;
                grid-template-areas: 
                "area-1 area-2"
                "area-3 area-4"
                "area-5 area-6"
                "area-7 area-8";
                .area-1{
                    grid-area: area-1;
                }
                .area-2{
                    grid-area: area-2;
                }
                .area-3{
                    grid-area: area-3;
                }
                .area-4{
                    grid-area: area-4;
                }
                .area-5{
                    grid-area: area-5;
                }
                .area-6{
                    grid-area: area-6;
                }
                .area-7{
                    grid-area: area-7;
                }
                .area-8{
                    grid-area: area-8;
                }
            }
        }
    }
}

/* ------------- Estilos Section Habilidades -------------*/

.pag{
    .index-habilidades{
        // Título de Sección
        h3{
            text-align: center;
            font-weight: bold;
            padding-top: 50px;
            &::before{
                content: "────";
                margin: 0 1rem 0 1rem;
            }
            &::after{
                content: "────";
                margin: 0 1rem 0 1rem;
            }
        }
        
        div{
            div{
                @include anim-hover-scale(1.1, $trans-medium);
                @include anim-hover-shadow;
            }
        }
    }
}